---
import Layout from "@/layouts/Layout.astro";
import type { BlogPostFrontMatter } from "@/types";
import { getAllUniqueTags } from "@/utils";
const allPosts = await Astro.glob<BlogPostFrontMatter>("../writing/*.md");
const tags = getAllUniqueTags(allPosts);
const title = "Tags";
const description = "A list of all tags used on this site.";
---

<Layout {title} {description}>
  <h1 class="text-3xl font-bold mb-10">Tags</h1>
  <div class="flex flex-row flex-wrap gap-2">
    {
      tags.map((tag) => (
        <p class="px-1 text-indigo-400 hover:text-indigo-500 border border-indigo-400 hover:border-indigo-500 rounded-md">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>
