---
import Layout from "../layouts/Layout.astro";
import journey from "../content/journey.json";
import Flow from "../components/Flow.astro";

const journeyData: { [key: string]: string[] } = journey;
---

<Layout title="About - Jubayer Al Mamun">
  <div>
    <h3 class="font-bold text-xl mb-4">My Journey 👇</h3>
    {
      Object.keys(journeyData)
        .sort((a, b) => (a > b ? -1 : 1))
        .map((year, idx) => (
          <Flow
            year={year}
            story={journeyData[year].reverse()}
            className="mb-4"
          />
        ))
    }
  </div>
</Layout>
