---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jubayer Al Mamun">
  <div class="flex flex-col">
    <div
      class="flex flex-col md:flex-row gap-4 justify-between items-center mt-10"
    >
      <img
        src="https://github.com/jubayeramb.png"
        alt="Avatar"
        class="w-48 rounded-full mx-auto theme-grayscale"
      />
      <div class="flex flex-col items-center md:items-baseline gap-2 md:w-2/4">
        <h1 class="text-3xl font-bold">Jubayer Al Mamun</h1>
        <p class="text-sm text-center md:text-start">
          A software engineer who loves to build things for the web. Self-taught
          and passionate about learning new things. Currently pursuing a
          bachelor's degree in Computer Science and Engineering.
        </p>
      </div>
    </div>
  </div>
</Layout>
