---
import ThemeIcon from "./ThemeIcon.astro";
const { pathname } = Astro.url;
const activePage = pathname.split("/")[1];
const active = (path: string) =>
  activePage === path ? "border-b border-content/60" : "";

const NavItems = ["Writings", "About"];
---

<header
  class="w-full fixed top-0 bg-[--nav-background] backdrop-blur-sm backdrop-filter z-50"
>
  <nav
    class="flex justify-between items-center px-5 py-1 w-full max-w-3xl mx-auto"
  >
    <div class="flex justify-center items-center gap-6">
      <a
        href="/"
        class="text-xl font-bold hover:text-content/75 pr-3 border-r-2 border-r-content/30"
        >Jub</a
      >
      {
        NavItems.map((item) => (
          <a
            href={`/${item.toLowerCase()}`}
            class={`hover:text-content/75 ${active(item.toLowerCase())}`}
          >
            {item}
          </a>
        ))
      }
    </div>
    <div class="flex justify-center items-center gap-6">
      <ThemeIcon />
    </div>
  </nav>
</header>
