---
type Props = {
  title: string;
  className?: string;
};

const { title, className } = Astro.props;
---

<div class={className}>
  <h3 class="font-bold text-lg mb-1">{title}</h3>
  <hr class="bg-content/10 h-[1px] border-0 mb-5" />
  <slot />
</div>
