---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
  description?: string;
  image?: string;
  keywords?: string[];
};

const { title, description, image, keywords } = Astro.props;
---

<BaseLayout {title} {description} {image} {keywords}>
  <Header />
  <main class="min-h-screen w-full max-w-3xl px-5 mx-auto my-20">
    <slot />
  </main>
  <Footer />
</BaseLayout>
